@import './fonts';
// colors
$black: #262523;
$white: #F1EDE8;
$greyLight: #BDBCBA;
$greyDark: #3F3D3A;
$grey: #62605C;
$yellow: #C3FF00;
$yellowDark: #AEE300;
$red: #D30000;

// fonts
$mainFonts: 'Chillax', sans-serif;
$headlinesFonts: 'Chillax', sans-serif;

// screen
$desktop: 'max-width: 1920px';
$tablet: 'max-width: 1024px';
$mobile: 'max-width: 360px';